.card {
    padding: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

.card h4 {
    margin: 0;
    color: #1a0dab;
}

.card a {
    text-decoration: none;
}

.card p {
    color: #4d5156;
}

.card small {
    color: gray;
}
