body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.container {
    width: 50%;
    margin: 100px auto;
    text-align: center;
    background: white;
    padding: 30px;
    border-radius: 8px;
}

h1 {
    margin-bottom: 5px;
}

.subtitle {
    color: gray;
    margin-bottom: 20px;
}

input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
