<!DOCTYPE html>
<html>
<head>
    <title>BlogRanker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>BlogRanker</h1>
<p>AI-powered blog ranking</p>

<form method="post">
    <input type="text" name="query" placeholder="Search blogs..." required>
    <button type="submit">Search</button>
</form>

{% if results %}
<div class="results">
    <h3>Search Results</h3>

    {% for blog in results %}
    <div class="card">
        <a href="{{ blog.link }}" target="_blank">
            <h4>{{ blog.title }}</h4>
        </a>
        <p>{{ blog.description }}</p>
        <small>Relevance Score: {{ blog.score }}</small>
    </div>
    {% endfor %}
</div>
{% endif %}


</body>
</html>
